.venv/
__pycache__
ideahacks-server-firebase-adminsdk-sjvbq-8a58179e05.json
ideahacks.pem

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
Dockerfile
